{% extends 'layout/base.html' %}
{% load static %}




{% block css %}
<style>
    .contact {

        margin-top: 40px;
        width: 90vw;


    }

    .form1 {
        padding: 10px 10px 10px 10px;
        margin-top: 20px;
        margin-bottom: 200px;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px white;
        background-color: whitesmoke;


    }
    .imgcont{
        margin-left: 4px;
        box-sizing: border-box;
        box-shadow: 4px 4px 4px white;
        background-color: whitesmoke;

    }
</style>
{% endblock css %}



{% block body %}
<div class="contact">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'cont.jpg' %}" alt="" width="850px" height="550px" class="imgcont">

        </div>
        <div class="col-md-6">
            <h3 style="text-align: center; text-transform: capitalize;">Get in touch</h3>
            <form action="contact_us" method="post" class="form1">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                    <label for="name">Phome</label>
                    <input type="tel" class="form-control" id="phone" name="phone"
                        placeholder="Enter Your Phone Number">
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="desc">How May We Help You ?</label>
                        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}

            </form>




        </div>
    </div>

</div>


{% endblock body %}