{% extends 'layout/base.html' %}
{% load static %}
{% load cart_tag %}
{% load crispy_forms_tags %}

{% block css %}
<style>
  .stripe-button-el {
    position: relative;
    bottom: 260px;
    left: 200px;
  }

  .purchase {
    width: 80%;
  }

  .row {
    margin-bottom: 30px;
    height: 100vh;
  }

  .check {
    border: 1px solid whitesmoke;
  }

  .form-check1 {
    margin-left: 200px;
    width: 60%;
    margin-top: 40px;
    border: 1px solid black;
  }

  .username {
    margin-left: 220px;
    margin-top: 50px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  #checkout-heading {
    text-decoration-line: underline;
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }

  #edit {
    position: relative;
    top: 20px;
    margin-left: 40px;
  }

  #btnsub {
    width: 100px;
    margin-left: 40pc;

  }

  .section {
    margin-top: 30px;
    text-transform: capitalize;
  }
</style>
{% endblock css %}



{% block body %}
{% csrf_token %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: Product 1</h5>
          <p>Quantity: 2</p>
          <p class="fw-bold">Price: <span id="price">100.00</span></p>
        </div>
      </div>
      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure
        optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil
        in et quis?</small>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="">


        <div class="card">
          <div class="card-body">
            <h5>{{user.username}}</h5>
            {% for i in add %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                <p>{{i.add}} </p>
                <p>{{i.city}} </p>
                <p>{{i.zip}} </p>
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="text-end">
          <button type="button" class="btn btn-warning mt-3 px-5 fw-bold" id="checkout-button">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}

{% block js %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script >
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  const stripe = Stripe("{{pub_key}}");
  // console.log(stripe);
  const price = document.querySelector('#price').innerHTML;
  const p = +price
  // console.log(typeof(p));
  const checkOut = document.getElementById('checkout-button');
  checkOut.addEventListener('click', () => {
    fetch("{% url 'create_checkout_session' %}?price=" + p, {
      method: "POST",
      headers: {
        'X-CSRFToken': csrfToken
      },
    }).then((response)=>{
      return response.json();
    }).then((session) => {
      return stripe.redirectToCheckout({sessionId: session.sessionId})
    }).then((result) => {
      if (result.error){
        alert(result.error.message);
      }
    }).catch((err) => {
      setTimeout(() => {
        alert(err)
      }, 1500);
    })
  })
</script>

{% endblock js %}