{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<style>
    .homefirst {
        width: 100vw;    
        height: 100vh;
        background-image: url("static/image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        color: white;

    }

    span {
        text-shadow: 4px 6px 8px darkblue;

        position: relative;
        top: 10%;
        letter-spacing: 5px;
        left: 31%;
        font-size: 90px;
        text-transform: uppercase;
    }

    small {
        text-shadow: 4px 6px 8px darkblue;

        position: relative;
        top: 14%;
        letter-spacing: 2px;
        left: 5%;

        text-transform: uppercase;
    }

    .homemid {
        text-transform: capitalize;
        position: relative;
        left: 0;
        top: 4px;
        height: 100vh;
        width: 100vw;
    }

   
</style>
{% endblock css %}




{% block body %}



    

<div class="homefirst">


    <span>
        selfie studio
    </span>
    <small>
        we provide prop's and theme's
    </small>


</div>
<div class="homemid">
       <h1 class="heading" style="text-align: center; margin-top: 20px; text-transform: capitalize;">
           we provide theme's
       </h1>
                  
       <div class="card-deck">
        <div class="card">
          <img src="{% static 'brithday.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">brithday theme's</h5>
            <p class="card-text">we provide brithday theme's</p>
          </div>
          <div class="card-footer">
            <a name="" id="" class="btn btn-primary" href="#" role="button">
                View
            </a>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'img1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">wedding theme,s</h5>
            <p class="card-text">we provide wedding theme's also</p>
          </div>
          <div class="card-footer">
            <a name="" id="" class="btn btn-primary" href="#" role="button" ">
                View
            </a>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'download.jfif' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">photoshot theme's</h5>
            <p class="card-text">we provide photoshot theme's also</p>
          </div>
          <div class="card-footer">
            <a name="" id="" class="btn btn-primary" href="#" role="button">
                View
            </a>
          </div>
        </div>
      </div>



      <h1 class="heading" style="text-align: center; margin-top: 50px; text-transform: capitalize;">
        we provide props
    </h1>
               
    <div class="card-deck">
     <div class="card">
       <img src="{% static 'brithday.jpg' %}" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">brithday theme's</h5>
         <p class="card-text">we provide brithday theme's</p>
       </div>
       <div class="card-footer">
         <a name="" id="" class="btn btn-primary" href="#" role="button">
             View
         </a>
       </div>
     </div>
     <div class="card">
       <img src="{% static 'img1.jpg' %}" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">wedding theme,s</h5>
         <p class="card-text">we provide wedding theme's also</p>
       </div>
       <div class="card-footer">
         <a name="" id="" class="btn btn-primary" href="#" role="button" ">
             View
         </a>
       </div>
     </div>
     <div class="card">
       <img src="{% static 'download.jfif' %}" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">photoshot theme's</h5>
         <p class="card-text">we provide photoshot theme's also</p>
       </div>
       <div class="card-footer">
         <a name="" id="" class="btn btn-primary" href="#" role="button">
             View
         </a>
       </div>
     </div>
   </div>    
</div>
{% endblock body %}