{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<style>
    .homefirst {
        width: 100vw;
        height: 100vh;

        background-image: url("static/main.jpg");
        background-repeat: repeat;
        background-position-x: 300px;
        background-size: cover;


    }

    .homemid {
        height: 300px;
        width: 400px;
        background-color: white;
        position: relative;
        top: 20%;
        left: 1%;
        text-transform: capitalize;
        border-radius: 2px;
        box-shadow: 5px 7px 2px orangered;
    }

    @import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

    #home {
        text-align: center;
        color: rgb(153, 130, 235);
        position: relative;
        top: 30%;
        line-height: 2px;
        letter-spacing: 3px;
        font-weight: 900;
        font-size: xx-large;
        font-family: 'Yellowtail', cursive;

    }
    .homebtn{
        position: relative;
        top: 54%;
        right: 18%;
        
    }
</style>
{% endblock css %}




{% block body %}





<div class="homefirst">


    <div class="homemid">
        <h2 id="home">
            Selfie studio
        </h2>
        <small style="text-transform: capitalize;left: 22%;
            
            position: relative;
            top: 35%;">
            here we provide props and theme's
        </small>
        <a href="{% url 'product' %}" class="btn btn-dark homebtn" role="button"> visit now </a>
    </div>


</div>

{% endblock body %}