{% extends 'layout/base.html' %}
{% load static %}


{% block css %}
<style>
    #dashbord {
        height: 99vh;

    }

    #dashbord1 {
        height: 100vh;

    }

    #dashbord2 {
        height: 100vh;
        background-color: rgba(224, 240, 245, 0.938);
    }

    #dashbord3 {
        height: 100vh;
        background-color:lightgrey;
    }

    .dashbord li {
        list-style: none;



    }

    .dashbord {
        margin-top: 40px;
    }

    .dashbord li a {
        width: 150px;
        margin-top: 20px;
    }

    #dashbordname {
        margin-left: 20px;
        position: relative;
        text-transform: capitalize;
        line-height: 2px;
        top: 30px;
        text-shadow: 1px 1px 2px blue;
        letter-spacing: 2px;
        font-size: x-large;
        white-space: nowrap;

    }

    #headerdashbord {
        margin-left: 6px;
        margin-top: 10px;
        letter-spacing: 2px;
        font-size: x-large;
        color: blue;
        text-shadow: 1px 1px 1px blue;
    }

    .dashbordmorelink {
        margin-top: 40px;
    }

    .dashbordmorelink li {
        margin-top: 20px;
        text-transform: capitalize;

    }

    .dashbordmorelink li a {
        width: 150px;
    }
    .dashbordfooter{
        margin-top: 80px;
        height: 50px;
        width: 50px;
        background-color: lavender;
    }
    #dashfooter{
        list-style: none;
        
        
    }
    .dashuser{
        background-color: lightcyan;
        height: 70vh;
        width: 50vw;
        color: black;
        position: relative;
        left: 250px;
        top: 60px;
    }
   .profilecard{
       letter-spacing: 1.7px;
       top: 100px;
       width: 350px;
       box-sizing: border-box;
       left: 250px;
       box-shadow: 1px 0.2px 0.3px 3px white;
       

   }
   .imgprofile{
       width: 200px;
       position: relative;
       top: 20px;
       border-radius: 200px;
       outline: 1px black;
       height: 200px;
       border: 1px solid whitesmoke;
       left: 50px;
       box-sizing: border-box;
       box-shadow: 0.1px 0.2px 0.1px 0.6px white;
   }
   .editprofile{
       position: relative;
       top: 20px;
       text-transform: capitalize;
       letter-spacing: 0.9px;
       left: 95%;
   }
</style>
{% endblock css %}


{% block body %}
<span id="name">


</span>
<div id="dashbord">

    <div class="row" id="dashbord1">

        <div class="col-md-2" id="dashbord2">
            <span id="dashbordname"> welcome {{user.username|default:'Guest'}} </span>
            <ul class="dashbord">

                {% if user.is_authenticated %}
                <li><a class="btn btn-primary" href="{% url 'adderss' %}" role="button">adderss</a></li>
                <li><a class="btn btn-primary" href="{% url 'password_change' %} " role="button">change password</a>
                </li>
                <li><a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a></li>
                {% else %}
                <li> <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a></li>
                <li> <a class="btn btn-primary" href="{% url 'registration' %}" role="button">Signup</a></li>
                {% endif %}




            </ul>
            <ul class="dashbordmorelink" style="list-style: none;">
                <li id="headerdashbord">
                    More links
                </li>

                <li> <a class="btn btn-primary" href="{% url 'product' %}" role="button">product</a></li>
                <li> <a class="btn btn-primary" href="#"role="button">order history</a></li>
                <li> <a class="btn btn-primary" href="{% url 'contact_us' %}"role="button">contact_us</a></li>
            </ul>
             <ul class="dashbordfooter">
                 <li id="dashfooter">
                    <video  height="200px" width="200px" autoplay muted loop>
                        <source src="{% static 'video/video.mp4' %}">
                    </video>     
                    <p style="text-transform: capitalize; white-space: nowrap;">
                      now get perfect selfie with us
                    </p>            
                 </li>


             </ul>
        </div>
        <div class="col-md-10" id="dashbord3">
            <div class="dashuser">
                 <a href="{% url 'edit_profile' %}" class="editprofile">edit</a>
                
                {% for pro in profile %}
                <div class="card profilecard" style="background-color: lightcyan;">
                    <img class="imgprofile" src="media/{{pro.img}}" alt=""  >
                    <div class="card-body" style="background-color: lightcyan;">
                        <hr>
                        <h4 class="card-title">Name: {{pro.name}} </h4>
                        <hr>
                        <p class="card-text">Gender :{{pro.gender}} </p>
                        <hr>
                        <p class="card-text">Phone number: {{pro.phone}} </p>
                        <hr>
                        <p class="card-text">DOB: {{pro.DOB}} </p>
                        <hr>
                    </div>
                </div>
                    
                {% endfor %}
                    
            </div>

        </div>
    </div>
</div>

{% endblock body %}