{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}


{% block css %}
<style>
    #change_password {
        position: relative;
        width: 80vw;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 40px);
        
        padding: 32px 31px 31px 24px;
        
    }

    #change_password_form {
        width: 70vw;
        position: relative;
    }

    #form_for_change {

        position: relative;
        width: 52vw;
        font-size: large;
        left: 167px;
    }

    #change_password_dashbord {
        position: relative;
    }

    #change_password_h2 {

        text-transform: capitalize;
        position: relative;
        text-decoration: 3px dotted;
        left: 398px;
        font-size: xx-large;
    }

   

    #change_password_btn:hover {
        color: black;
    }

    #change_password_dashbord {
        position: relative;
        top: 15px;
        left: 171px;
    }
    #change_password_dashbord:hover{
        color: black;
        font-size: x-large;
    }
</style>
{% endblock css %}

{% block body %}
<div id="change_password">
    <div id="change_password_form">
        <h2 id="change_password_h2">
            change password
        </h2>
        <form method="POST" id="form_for_change">
            {% csrf_token %}
            {{form|crispy}}
            <button id="change_password_btn" class="btn btn-primary">
                change password

            </button>

        </form>
        <a href="{% url 'home' %} " id="change_password_dashbord">
            back to home page
        </a>
    </div>
</div>

{% endblock body %}