{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<style>
.reset_password{
    margin-top: 50px;
    margin-bottom: 540px;
    width: 80vw;
    margin-left: 200px;
    padding: 30px 10px 0 10px;
    text-transform: capitalize;
    
}
#form_for_reset{
    
    width: 50vw;
    margin-left: 200px;
}
#dashbord_reset{
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
}
</style>
{% endblock css %}


{% block body %}
<div class="reset_password">
    <div class="reset1">
        <h2 style="text-align: center;">
            send password link
        </h2>
        <form action="" method="POST" id="form_for_reset">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-success">
                send link password

            </button>

        </form>
        <a href="{% url 'home' %} " id="dashbord_reset">
            back to home
        </a>
    </div>
</div>

{% endblock body %}