{% extends 'layout/base.html' %}

{% block css %}
<style>
    .change_password_done {


        position: relative;
        width: 60vw;
        top: 50%;
        height: 24vh;
        border: 4px solid darkblue;
        box-shadow: 11px 19px 14px;
        left: 50%;
        padding: 30px 23px 37px 99px;
        transform: translate(-418px, 223px);
    }

    #password_done_btn {
        position: relative;
        top: 32px;

        font-size: x-large;
    }
    #password_done_btn:hover{
        text-decoration: none;
        color: black;
    }

    #password_done_h6 {
        font-size: xxx-large;
        text-transform: capitalize;

        position: relative;
    }
</style>
{% endblock css %}


{% block body %}

<div class="change_password_done">
    <h6 id="password_done_h6">
        password change successfully
    </h6>
    <a href="{% url 'home' %}">back on home page</a>



</div>


{% endblock body %}